/* profile.css */
.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4caf50, #81c784);
    -fx-background-radius: 8;
}
.progress-bar {
    -fx-background-radius: 8;
    -fx-pref-height: 15px;
}


.dashboard-buttons {
-fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
}