/* profile.css */
.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4caf50, #81c784);
    -fx-background-radius: 8;
}
.progress-bar {
    -fx-background-radius: 8;
    -fx-pref-height: 15px;
}


/* profile.css */

.dashboard-buttons {
    -fx-background-color: linear-gradient(to bottom, #4caf50, #2e7d32);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
    -fx-content-display: LEFT;   /* icon on left, text on right */
    -fx-graphic-text-gap: 10px;  /* space between icon and text */
}

/* Hover effect */
.dashboard-buttons:hover {
    -fx-background-color: linear-gradient(to bottom, #66bb6a, #388e3c);
}




/* Title styling */
.dashboard-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10px;
    -fx-font-family: "Consolas";
}

.sidebar {
    -fx-padding: 20;
    -fx-background-image: url("images/background1.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
